
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Share/_MainFooterLayout.cshtml";
    Html.RenderPartial("~/Views/Share/_MainHeaderPartial.cshtml");
}

<!--
        start .about-info
    -->
<div class="about-info">
    <h2>باشگاه ما</h2>
    <p>
        باشگاه تی ان بی تیمی متشکل از برنامه نویسان در زمینه های مختلف است که نه تنها در راستای برگزاری مسابقات دانشجویی بلکه در زمینه ی پرورش افراد ( دانشجویان) و یافتن استعداد های آن ها فعالیت می کند. این تیم در حال حاضر متشکل از چهار گروه برنامه نویسی است که عبارتند از : <br>
        <span>1.</span> تیم توسعه برنامه کاربردی
        <span>2.</span>تیم شبکه و سخت افزار
        <span>3.</span>تیم طراحی سایت
        <span>4.</span>تیم توسعه برنامه های موبایل <br>
        باشگاه تی ان بی با بهره گیری و آموزش بروزترین و کاربردی ترین علوم، در زمینه ی کامپیوتر و IT ، به دنبال معرفی واستفاده از نیرو های متخصص در صنعت فناوری اطلاعات کشور است. سعی ما همواره بر این بوده است که در راه بهبود و توسعه حوزه های مختلف کامپیوتر (IT) تلاش نماییم.
        مسابقات دانشجویی در باشگاه تی ان بی توسط دانشکده مهندسی فناوری اطلاعات (IT) دانشگاه آزاد اسلامی واحد تهران شمال برگزار می گردد. امید است با تلاش این تیم، ارتباط بین دانشگاه و صنایع مربوط به IT و کامپیوتر در کشور عزیزمان ارتقا یابد، به نحوی که دانش آموختگان دانشگاه های کشور بتوانند منطبق با نیازهای روز صنعت آموزش ببینند.
    </p>
    <div class="links">
        <a href="">
            <img src="~/Files/Pictures/Site/Icons/group.png" alt="" title="ثبت نام مسابقات">
        </a>
        <a href="">
            <img class="second-img" src="~/Files/Pictures/Site/Icons/magnifying-glass.png" alt="" title="بلاگ">
        </a>
    </div>
</div>