
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_MainLayout.cshtml";
}

<div class="hero">
    <div class="glide">
        <div data-glide-el="track" class="glide__track">
            <ul class="glide__slides">
                <li class="glide__slide slider-item bg-1" id="first-slide">
                    <div class="slider-main-section">
                        <h1 id="slider-main-text">اولین دوره مسابقه برنامه نویسی دانشجویی</h1>
                        <h3 class="padding-20">دانشگاه آزاد اسلامی - واحد تهران شمال</h3>
                        <a href="#"><button id="main-btn">ثبت نام در مسابقه</button></a>

                        <div class="timer">
                            <div class="clock">
                                <span class="display-block">مهلت باقی مانده برای ثبت نام</span>

                                <div class="clock-part">
                                    <div class="dhm" id="days">
                                        <p class="numz" id="days-num"></p>
                                    </div>
                                    <p class=clock-part-title>روز</p>
                                </div>
                                <div class="clock-part">
                                    <div class="dhm" id="hours">
                                        <p class="numz" id="hours-num"></p>
                                    </div>
                                    <p class=clock-part-title>ساعت</p>
                                </div>
                                <div class="clock-part">
                                    <div class="dhm" id="minutes">
                                        <p class="numz" id="minutes-num"></p>
                                    </div>
                                    <p class=clock-part-title>دقیقه</p>
                                </div>
                                <div class="clock-part">
                                    <div class="dhm" id="seconds">
                                        <p class="numz" id="seconds-num"></p>
                                    </div>
                                    <p class=clock-part-title>ثانیه</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="glide__slide slider-item bg-2" id="second-slide">

                    <div class="slider-main-section">
                        <h1 id="slider-main-text">اولین دوره مسابقه برنامه نویسی دانشجویی</h1>
                        <h3 class="padding-20">دانشگاه آزاد اسلامی - واحد تهران شمال</h3>
                        <a href="#"><button id="main-btn">ثبت نام در مسابقه</button></a>


                    </div>

                </li>
                <li class="glide__slide slider-item bg-3" id="first-slide">

                    <div class="slider-main-section">
                        <h1 id="slider-main-text">اولین دوره مسابقه برنامه نویسی دانشجویی</h1>
                        <h3 class="padding-20">دانشگاه آزاد اسلامی - واحد تهران شمال</h3>
                        <a href="#"><button id="main-btn">ثبت نام در مسابقه</button></a>


                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>


<div class="main-about row">
    <div class="main-about-text column">
        <h3 data-aos="fade-down" data-aos-duration="500" data-aos-once="true">باشگاه تی ان بی</h3>
        <p data-aos="fade-down" data-aos-duration="700" data-aos-once="true">TNBCLUB متشکل از دانشجویان برنامه نویس (IT) دانشکده فنی و مهندسی دانشگاه آزاد اسلامی واحد تهران شمال است. هدف ما شناسایی و پرورش مهارت دانشجویان در زمینه ی برنامه نویسی و طراحی الگوریتم است . فعالیت های تی ان بی فقط محدود به برگزاری مسابقات دانشجویی نیست بلکه در زمینه های متعدد از جمله آموزش ، اخبار روز در حوزه IT و ... است . به این منظور تلاش ما در جهت سوق مسابقه به سمت تکنولوژی های پر استفاده در صنعت کشور بوده است. TNBCLUB امسال پر از چالش های مختلف در ۸ تکنولوژی برنامه نویسی و ده ها زبان برنامه نویسی است و افراد برتر به شرکت های فعال در حوزه IT معرفی می شوند . بنابراین این دوره را از دست ندهید!</p>
    </div>

    <div data-aos="fade-right" data-aos-delay="200" data-aos-duration="500" data-aos-once="true" class="main-about-image column">
        <img class="about-image" src="~/Files/Pictures/Site/about-img2.svg" alt="">
    </div>
</div>


<div class="testimonials">
    <div class="testimonials-title">
        <h1 data-aos="fade-down" data-aos-duration="500" data-aos-once="true">خدمات ما</h1>
        <hr class="title-line" data-aos="fade-down" data-aos-duration="550" data-aos-once="true">
    </div>
    <div class="competition testimonials-section">
        <div class="testimonials-text">
            <h1 data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-header">برگزاری مسابقات</h1>
            <p data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-paragraph">باشگاه تی ان بی اولین گروهی است که در دانشگاه ازاد واحد تهران شمال مسابقات برنامه نویسی برگزار میکند</p>
        </div>

        <div class="testimonials-image">
            <img data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-inner-image" src="~/Files/Pictures/Site/Icons/html.png" alt="">
        </div>
    </div>

    <div class="competition testimonials-section">
        <div class="testimonials-text">
            <h1 data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-header">برگزاری دوره های آموزشی</h1>
            <p data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-paragraph">باشگاه تی ان بی اولین گروهی است که در دانشگاه ازاد واحد تهران شمال مسابقات برنامه نویسی برگزار میکند</p>
        </div>

        <div class="testimonials-image">
            <img data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-inner-image" src="~/Files/Pictures/Site/Icons/computer.png" alt="">
        </div>
    </div>

    <div class="competition testimonials-section">
        <div class="testimonials-text">
            <h1 data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-header">توسعه نرم افزار</h1>
            <p data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-paragraph">باشگاه تی ان بی اولین گروهی است که در دانشگاه ازاد واحد تهران شمال مسابقات برنامه نویسی برگزار میکند</p>
        </div>

        <div class="testimonials-image">
            <img data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-inner-image" src="~/Files/Pictures/Site/Icons/responsive-design.png" alt="">
        </div>
    </div>

    <div class="competition testimonials-section">
        <div class="testimonials-text">
            <h1 data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-header">خدمات شبکه</h1>
            <p data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-paragraph">باشگاه تی ان بی اولین گروهی است که در دانشگاه ازاد واحد تهران شمال مسابقات برنامه نویسی برگزار میکند</p>
        </div>

        <div class="testimonials-image">
            <img data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-inner-image" src="~/Files/Pictures/Site/Icons/lan.png" alt="">
        </div>
    </div>


    <div class="competition testimonials-section">
        <div class="testimonials-text">
            <h1 data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-header">سئو</h1>
            <p data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-paragraph">باشگاه تی ان بی اولین گروهی است که در دانشگاه ازاد واحد تهران شمال مسابقات برنامه نویسی برگزار میکند</p>
        </div>

        <div class="testimonials-image">
            <img data-aos="fade-down" data-aos-duration="500" data-aos-once="true" class="testimonials-inner-image" src="~/Files/Pictures/Site/Icons/seo.png" alt="">
        </div>
    </div>




</div>