
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Share/_MainFooterLayout.cshtml";
    Html.RenderPartial("~/Views/Share/_MainHeaderPartial.cshtml");
}

<div class="main single-page">
    <div class="signup-card">
        <div class="signup-form">
            <form class="signup-forms" action="">
                <span id="form-title">برای شرکت در مسابقه ثبت نام کنید</span>
                <span>آیا قبلا ثبت نام کرده اید؟  <a href="">ورود</a></span>

                <div class="form-input">
                    <span class="signup-text-title">نام :</span>
                    <input class="signup-text-input rtl-input" placeholder="نام" type="text">
                </div>
                <div class="form-input">
                    <span class="signup-text-title">نام خانوداگی :</span>
                    <input class="signup-text-input rtl-input" placeholder="نام خانوداگی" type="text">
                </div>
                <div class="form-input">
                    <span class="signup-text-title">شماره دانشجویی:</span>
                    <input class="signup-text-input ltr-input" placeholder="شماره دانشجویی" type="number">
                </div>
                <div class="form-input">
                    <span class="signup-text-title">رشته :</span>
                    <select name="subject">
                        <option value="" disabled="" selected="">رشته</option>
                        <option value="IT"> فناوری اطلاعات </option>
                        <option value="SE"> نرم‌افزار </option>
                        <option value="HE"> سخت‌افزار </option>
                        <option value="AR"> معماری </option>
                        <option value="CO"> عمران </option>
                        <option value="ME"> مکانیک </option>
                        <option value="OT"> سایر رشته ها </option>
                    </select>

                </div>


                <div class="form-input">
                    <span class="signup-text-title">ایمیل :</span>
                    <input class="signup-text-input ltr-input" placeholder="ایمیل" type="email">
                </div>                            <div class="form-input">
                    <span class="signup-text-title">رمز عبور :</span>
                    <input class="signup-text-input ltr-input" placeholder="رمز عبور" type="text">
                </div>
                <div class="form-input">
                    <span class="signup-text-title">تکرار رمز عبور :</span>
                    <input class="signup-text-input ltr-input" placeholder="رمز عبور" type="text">
                </div>

                <div class="form-input">
                    <span class="signup-text-title">شماره تلفن :</span>
                    <input class="signup-text-input ltr-input" placeholder="شماره تلفن" type="number">
                </div>

                <a href=""><button>Hello</button></a>
            </form>



        </div>

        <div class="signup-rules">
            <p>hello</p>
        </div>

    </div>
</div>



<script>

var form_input = document.querySelectorAll(".ltr-input");

var rtl_input = document.querySelectorAll(".rtl-input");

rtl_input.forEach(i => {
  i.addEventListener("focus", rtlCheck);
  i.addEventListener("focusout", rtlCheck);
  console.log(i)
});

function rtlCheck(e){
  if(e.type == "focus"){
    rtlAttr = this.getAttribute('placeholder');
    this.setAttribute('placeholder', '');

  }else if (e.type == "focusout"){
    this.setAttribute('placeholder', rtlAttr);

  }
}

form_input.forEach(i => {
  i.addEventListener("focus", checkCheck);
  i.addEventListener("focusout", checkCheck);
  console.log(i)
});

function checkCheck(e){
  if(e.type == "focus"){
      attr = this.getAttribute('placeholder');
      console.log(this.getAttribute('placeholder'));
      this.style.direction = "ltr";
      this.setAttribute('placeholder', '');
  }else if(e.type == "focusout"){
    console.log(attr)
    this.style.direction = "rtl";
    this.setAttribute('placeholder', attr);
  }
}
</script>


<script>
      $(function() {
      $('.btn-6')
        .on('mouseenter', function(e) {
                var parentOffset = $(this).offset(),
                  relX = e.pageX - parentOffset.left,
                  relY = e.pageY - parentOffset.top;
                $(this).find('span').css({top:relY, left:relX})
        })
        .on('mouseout', function(e) {
                var parentOffset = $(this).offset(),
                  relX = e.pageX - parentOffset.left,
                  relY = e.pageY - parentOffset.top;
            $(this).find('span').css({top:relY, left:relX})
        });
      $('[href=#]').click(function(){return false});
    });
</script>