
<header class="single-page" id="main-header" dir="rtl">

    <div id="logo">
        <a href="index.html">
            <img class="single-page" src="~/Files/Pictures/Site/tnb-logo.svg" alt="" id="logo-img">
        </a>
    </div>

    <ul class="header-links single-page">
        <li><a href="index.html">خانه</a></li>
        <li><a href="">مسابقه</a></li>
        <li><a href="">جزوات</a></li>
        <li><a href="">درباره ما</a></li>
        <li><a href="">تماس با ما</a></li>
    </ul>

    <div class="lang"></div>

    <div class="menu-buttons single-page">
        <a href=""><button class="btn-6" id="signup">ثبت نام<span></span></button></a>
        <a href=""><button class="btn-6" id="login">ورود<span></span></button></a>

    </div>

</header>